/* Sucessful payment */

.order-success {
    text-align: center;
    margin: 50px;
}

.success-image {
    width:250px;
    /* Adjust the width as needed */
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.return-home-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.return-home-btn:hover {
    background-color: #333;
    color: white;
}


/* Payment form */

.checkout-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

textarea {
    height: 80px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    width: 48%;
    margin-bottom: 10px;
}

/* .payment-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
} */

.payment-btn{
    background-color: #080808;
    color: #fff;
    padding: 10px 25px;
    border: none;
     /* margin-top: 20px;   */
    font-size: 20px;
}

.payment-btn:hover {
    background-color: #333;
    color: white;

}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        width: 100%;
    }
}


form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    background-color: #080808;
    color: #fff;
    padding: 10px 25px;
    border: none;
     /* margin-top: 20px;   */
    font-size: 20px;
}

button:hover {
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}